.marge {
	margin-top : 50px;
	margin-bottom: 60px;
}

html {
  overflow-y: scroll;
}


body {
	background-image: url(../Image/rockywall.png);
  box-shadow: inset 0px -100px 400px 150px rgba(0,0,0,0.3);
  font-family: Montserrat;
}

.container-fluid {
	background : url("background/rockywall/rockywall.png");
}

h1 {
	padding : 10px;
	padding-bottom:100px;
  padding-top: 40px;
  font-size: 5em;
}

.descTheme {
	padding : 10px;
	font-size :1.5em;
  padding-bottom : 30px;
}

.col-xs-3 {
	text-align: center;
}
#ligne1
{
	transition-duration: 2 ;
}

.themePicture
{
	box-shadow: 10px 5px 5px black;
	border-radius: 10px;
	height : 20vw;
	width:20vw;
}
.themePicture:hover {opacity: 0.7;}

#ligne1, #ligne2, #ligne3,#ligne4, #ligne5, #ligne6
{
	display : none;
	margin-top : 20px;
	margin-bottom: 10px;
	margin-left : 10px;
	margin-right: 10px;
	padding :5px;
	padding-bottom: 30px;
  padding-top: 20px;
	border:2px double black;
	border-radius: 10px;
	box-shadow: inset 0px 0px 20px black;
}

.row {
	text-align:center;
}

.btn{
	border : none !important; 
	background-color : transparent;
}
image {
	border : none !important;
}

.col-xs-3 {
	border : 1px solid blue;
}

/**************formatting the image grid ******************************************/

.blabla .btn:focus{
  background-color: transparent;
  border: transparent;
  padding: 0px;
}


.blabla {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 24%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  border-radius: 10px;
  box-shadow: 10px 5px 5px grey;
  filter: grayscale();
  margin: 0px;

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .column img{
  	filter: none;
  }
}
.pict{
	max-width: 100%;
}
.blabla .btn{
	background-color: transparent;
	border: transparent;
	}
.blabla .btn:hover{
	background-color: transparent;
	border: transparent;


}
.column img:hover{
	filter: none;
}

/************Formatting the modal windows https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal_img*/
.bigPicture {
    max-height : 80vh;
    max-width : 85vw;
    border: 5px solid white;
}

.modal {

    max-height: 100%; /* Full height */
  	max-width: 100%; /* Full height */
    background-color : rgba(0,0,0,0.7);
    border : 1px solid white;
    padding-left:7px;
}

.modal-dialog {
	background-color : transparent;
	color : white;
	width : auto;
  height : auto;    
}

.modal .close {
  color : white;
 font-size : 2em;
}
.modal .close {
  color : white;
 font-size : 2em;
}

.modal-header {
	background-color : #2d2d30;
}
.modal-footer {
  background-color : #2d2d30;
  color : white;
  padding:3px;
}
.modal-footer .btn {
  color : white;
  font-size : 1.5em;
}
.modal-footer .btn:hover {
  color : black;
}
.modal-titre {
  font-size : 3em;
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    background-color : rgba(0,0,0,0.82);
    width : auto;
    height : auto;
    text-align : center;
    border : 1px solid white;
}

.modal-boby {
}


.flecheGauche {
  font-size: 4em;
  color : white;
}

.flecheDroite {
  font-size: 4em;
  color:white;
}

.imageContent{
  display: flex;
  justify-content:space-between;
}

.imageContent .btn:hover {

  background-color:#2d2d30;
}

.descBig {
  padding-top : 10px;
  font-size : 1.5em;
}

/**** sur portable *****************/
@media (max-width: 500px) {
  .descTheme {
    display :none;
  }
  .col-xs-4 {
    padding-bottom : 50px;
  }
.flecheGauche {
  font-size: 1.5em;
}

.flecheDroite {
  font-size: 1.5em;
}
.descBig {
  font-size : 1em;
  padding-top: 0px;
}
h1 {
  padding : 10px;
  padding-bottom:60px;
  padding-top: 40px;
  font-size: 3em;
}

}

}





